.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.datetime-picker .datetime-input{
  padding: 15px;
}

.datetime-picker .add-on{
  height: 32px;
  width: 40px;
}

.Vac-class {
  width: 190px;
}

.Vac-class-comment {
  width: 190px;
  height: 190px;
}

.insStyl{
  width: 300px;
}

input.disabled {
   color: #337ab7;
   text-align: center;
   outline: none;
}
input.disabled.search-input {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    position: relative;
    top: 3px;

}
.form-control[disabled], fieldset[disabled] .form-control {
    cursor: auto;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: rgba(255,255,255,0);
  }
  .table.table-responsive{
    table-layout: fixed;
word-wrap: break-word;
 zoom: 75%;
  }

  h5.right{
    float: right;
  }

.centerBlock {
  display: table;
  margin: 0 auto;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9d9d9d;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

#hiddedText {
  display: none;
}


#example_length{
/*display: none;*/
}

div.dataTables_wrapper {
        margin-bottom: 3em;
    }

    .dataTables_length {
      /*display: none;*/
    }

.contentCheck {
text-align: center;
}

.btn-info {
    background-color: #337ab7;
    border-color: #337ab7;

}

.btn-info:hover {
    background-color: #1762a2;
}

.checkAtt{
  width: 500px;
text-align: center;}

#part0{
  position: inherit;
}

#part1{

  position: inherit;
margin-left: 426px;
margin-top: -599px;
}

#part2{

  position: inherit;
      margin-left: 876px;
      margin-top: -581px;

}
#logout{
    margin-left: 20px;
}
/*.table-widthAtt{
  width: 600px;
}*/
/*.table-responsive{
  text-align: center;
}*/
